.clients-list {
  display: flex;
}

.clients-list>.item {
  flex-basis: calc((100% - 150px) / 6);
  margin-right: 30px;
}

.clients-list>.item:nth-child(6n) {
  margin-right: 0;
}

.clients-list .link {
  display: flex;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color var(--time) var(--timing-function), border-color var(--time) var(--timing-function);
}

.clients-list .link:hover,
.clients-list .link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list .icon {
  fill: currentColor;
}